.select_city_box {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  height: 130vw;
  background: #fff;
  border-radius: 3vw 3vw 0 0;

  .picker_buttons {
    z-index: 199;
    position: absolute;
    top: 3vw;
    right: 3vw;
    width: 4vw;
    height: 4vw;
    img {
      width: 4vw;
      height: 4vw;
    }
  }
  .select_tab {
    height: 15vw;
    z-index: 99;
    position: relative;
    padding: 0 4vw;
    &_item {
      font-size: 3.62vw;
      margin-right: 6vw;
      position: relative;
      height: 6vw;
      &_selected {
        position: absolute;
        bottom: -2vw;
        width: 8vw;
        height: 1vw;
        left: 50%;
        border-radius: 1vw;
        transform: translateX(-50%);
        background: #4781FE;
      }
    }

    padding-bottom: 2vw;
  }

  .city_box {
    font-size: 3.7vw;
    overflow: auto;
    height: 105vw;

    div {
      width: 100%;
    }
    &_item {
      height: 14.2vw;
      width: 100%;
      padding: 0 4vw;
    }
    &_item_selected {
      height: 14.2vw;
      width: 100%;
      flex: 1;
      padding: 0 4vw;
      background:rgba(249,249,248,1);
      img {
        width: 4.8vw;
      }
    }
  }

}
