.page {
  .bj {
    width: 100%;
    height: 70px;
    background:rgba(39,51,232,1);
  }
  .main {
    height: 100%;
    background-image: url(@/assets/index/bj.png);
    background-repeat: no-repeat;
    // background-position-y: 128px;
    background-size: 100%;
    overflow: hidden;
    padding: 0 26px;
  }

    .index_top {
      margin-top: 22px;
      font-size: 28px;
      color: #fff;
      padding-bottom: 43px;
      .index_top_item {
        width: 130px;
        img {
          width: 61px;
          height: 61px;
          margin-bottom: 26px;
        }
        div {
          line-height: 1;
        }
      }
    }



    .content_box {
      width: 100%;
      height: auto;
      padding: 30px 40px;
      background: #fff;
      border-radius:4px;
      margin-top: 28px;
      line-height: 1;
      .title {
        font-size: 34px;
        .time_box {
          font-size: 28px;
          color: #656565;
          width: 250px;
        }
      }
      .business_box {
        margin-top: 40px;
        .business_item {
          width: 130px;
          font-size: 28px;
          color: #333;
          img {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
          }
        }

      }
      .record_box {
        margin-top: 30px;
        .record_item {
          width:300px;
          height:187px;
          background:rgba(253,245,235,1);
          border-radius:10px;
          .record_number {
            font-size: 48px;
            color: #000;
            font-weight: bold;
            margin-bottom: 24px;
          }
          .record_title {
            font-size: 28px;
            color: #656565;
          }
        }
      }
    }

}
